extends layouts/obsLayout

block content
  #obs
    .characterBox
      .logo !RPG
    .characterBox
      .characterHealthBar
        .healthColor.animated(style=`width:${util.getHealthPercent(items,character)}%` class=util.getHealthColorClass(items,character))
        .healthText
          span.healthCurrent(data-text-hp-current=character.stats.hp)= character.stats.hp
          span &nbsp;/&nbsp;
          span.healthMax(data-text-hp-max=util.calcStatsFromItems(items, character.items).hp)
            | #{util.calcStatsFromItems(items, character.items).hp}
      .characterStats
        .stat.animated(data-stats-animate="hp")
          span.ra.ra-health
          span(data-text-hp=character.stats.hp)= character.stats.hp
        .stat.animated(data-stats-animate="ap")
          span.ra.ra-hand
          span(data-text-ap=character.stats.ap)= character.stats.ap
        .stat.animated(data-stats-animate="mp")
          span.ra.ra-fairy-wand
          span(data-text-mp=character.stats.mp)= character.stats.mp
        .stat.animated(data-stats-animate="atk")
          span.ra.ra-sword
          span(data-text-atk=character.stats.atk)= character.stats.atk
        .stat.animated(data-stats-animate="def")
          span.ra.ra-round-shield
          span(data-text-def=character.stats.def)= character.stats.def
    .characterBox
      .characterLocation
        span.animated(data-character-location=character.location)= util.prettyLocation(character.location)
      .section
        .characterDeaths
          span.ra.ra-skull.animated
          span(data-text-deaths=character.totalDeaths)= character.totalDeaths
        .characterKills
          span.ra.ra-crossed-swords.animated
          span(data-text-character-kills=character.totalCharacterKills)= character.totalCharacterKills
      .section
        .monsterKills
          span.ra.ra-monster-skull.animated
          span(data-text-monster-kills=character.totalMonsterKills)= character.totalMonsterKills
        .characterRevives
          span.ra.ra-angel-wings.animated
          span(data-text-revives=character.totalTimesRevived)= character.totalTimesRevived
    .characterBox
      .notify.animated
        span &nbsp;
