extends layouts/obsLayout

block content
  #obs
    .characterBox
      .characterHealthBar
        .healthColor(data-health-slider=character.stats.hp)
        .health
          span.healthCurrent(data-text-hp=character.stats.hp)= character.stats.hp
      .characterStats
        .stat.characterHp
          span.ra.ra-health
          span(data-text-hp=character.stats.hp)= character.stats.hp
        .stat.characterAp
          span.ra.ra-hand
          span(data-text-ap=character.stats.ap)= character.stats.ap
        .stat.characterMp
          span.ra.ra-fairy-wand
          span(data-text-mp=character.stats.mp)= character.stats.mp
        .stat.characterAtk
          span.ra.ra-sword
          span(data-text-atk=character.stats.atk)= character.stats.atk
        .stat.characterDef
          span.ra.ra-round-shield
          span(data-text-def=character.stats.def)= character.stats.def
    .characterBox
      .characterLocation
        span(data-character-location=character.location)= util.prettyLocation(character.location)
      .section
        .characterDeaths
          span.ra.ra-skull
          span(data-text-deaths=character.totalDeaths)= character.totalDeaths
        .characterKills
          span.ra.ra-crossed-swords
          span(data-text-character-kills=character.totalCharacterKills)= character.totalCharacterKills
      .section
        .monsterKills
          span.ra.ra-monster-skull
          span(data-text-monster-kills=character.totalMonsterKills)= character.totalMonsterKills
        .characterRevives
          span.ra.ra-angel-wings
          span(data-text-revives=character.totalTimesRevived)= character.totalTimesRevived
      
