extends layouts/default

block content
    if characters
      .section.p-1.justify-center
        h4 All Characters
      .section.pad-2.space-between.cards-wrap
        each character in characters
          a(href=`/character/${character.name}`).card.rounded
            .card__header
              h5= character.name
            .card__body
              p
                span.rpg.rpg8_05.rpgc.hp #{character.stats.hp}&nbsp;&nbsp;&nbsp;&nbsp;
                span.rpg.rpg1_95.rpgc.ap #{character.stats.ap}&nbsp;&nbsp;&nbsp;&nbsp;
                span.rpg.rpg5_19.rpgc.mp #{character.stats.mp}&nbsp;&nbsp;&nbsp;&nbsp;
                span.rpg.rpg1_52.rpgc.atk #{character.stats.atk}&nbsp;&nbsp;&nbsp;&nbsp;
                span.rpg.rpg8_05.rpgc.def #{character.stats.def}&nbsp;&nbsp;&nbsp;&nbsp;
              p Stats: #{h.statsString(character.stats)}
              p Location: #{character.location}
              p Items: #{h.arrCommaJoin(character.items)}
              p Skills: #{h.arrCommaJoin(character.skills)}
              
    else
      .section.p-3.justify-center.flex-column
        h1 Something's weird...
            
