extends layouts/default

block content
    h1= character.name
    #hp= character.stats.hp
    #ap= character.stats.ap
    #mp= character.stats.mp
    #atk= character.stats.atk
    #def= character.stats.def
    
